<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Atheneuam - Book Colleciton</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Header Start -->
    <Header class="container-fluid m-0 p-0">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
            <div class="container-fluid mx-lg-5">
                <a class="navbar-brand " href="/homes">
                    <div class="d-flex justify-content-between align-items-center me-5 pe-5">
                        <img src="/img/favicon.png" alt="logo" style="width: 40px; height: 40px; border-radius: 50%;">
                        <h3 class="gradient-text"> <span>Atheneuam</span></h3>
                    </div>
                </a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon py-1"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between" id="navbarTogglerDemo02">
                    <div class="mx-lg-5 px-lg-5">
                        <ul class="navbar-nav mx-lg-5 me-auto mb-2 mb-lg-0 home-nav ">
                            <li class="nav-item homeNav">
                                <a class="nav-link " href="homes">Home</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="shop-page">Shop</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="/category">Category</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="author">Author</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-icon">
                            <li class="nav-item homeNav">
                                <div class="search-bar-container active nav-link">
                                    <img src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/magnifier-512.png"
                                        alt="magnifier" class="magnifier" />
                                    <input type="text" class="input" placeholder="Search ..." />
                                </div>
                            </li>
                            <li class="nav-item homeNav space">
                                <a class="nav-link" href="cart">
                                    <i class="bi bi-cart3"></i><sup class="total-count fs-5">{{length}}</sup>
                                </a>

                            </li>
                            <li class="nav-item homeNav space">
                                <a class="nav-link" href="wishlist"><i class="bi bi-heart"></i></a>
                            </li>
                            <li class="nav-item space">
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link text-primary" aria-current="page"
                                        data-bs-toggle="dropdown">
                                        <i class="bi bi-person"></i>
                                </div>
                                </a>
                    </div>
                    </li>
                    </ul>
                </div>
            </div>
            </div>
        </nav>
    </Header>
    <!-- Header End -->
    <main>
        <div class="container-fluid rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right bg-light">
                    <div class="d-flex  m-5 mb-0">
                        <img class="rounded-circle" width="40px" id="profileImg"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <div class="d-flex  flex-column px-3">
                            <input type="hidden" id="gender" value="{{user.gender}}">
                            <p class="text-black-50 fs-5 mb-0">Hello</p>
                            <div class="font-weight-bold fs-5">{{user.name}}</div>
                        </div>
                    </div>
                    <hr>
                    <div class="mx-5">
                        <a href="myOrder" class="dropdown-item fs-5"><i class="bi bi-truck"></i><span class="ps-2">My
                                Orders</span></a>
                    </div>
                    <hr>
                    <div class="mx-5">
                        <a href="profile" class="dropdown-item">
                            <i class="bi bi-person-fill"></i><span class="ps-2">Account
                                Settings</span>
                        </a>
                    </div>
                    <hr>
                    <div class="mx-5">
                        <a href="logout" class="dropdown-item"><i class="bi bi-box-arrow-right"></i><span
                                class="ps-2">Logout</span></a>
                    </div>
                </div>
                <div class="col-md-9 border-right">
                    <div class="p-3 pb-0 py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <form class="form-horizontal" role="form" id="userAddress">
                                        <div class="d-flex justify-content-between">
                                            <h2>Address</h2>
                                            <button type="button" class="btn btn-primary" onclick="getLocation()">Use
                                                current location</button>
                                        </div>

                                        <div class="form-group d-flex">
                                            <input type="hidden" name="id" value="{{user._id}}">

                                            <div class="col-6 me-2">
                                                <label for="inputFullName" class="labels">Full Name</label>
                                                <input type="text" class="form-control" id="inputFullName"
                                                    name="fullName" placeholder=" Name">
                                            </div>
                                            <div class="col-6 ">
                                                <label for="Number" class="labels">Phone</label>
                                                <input type="number" class="form-control" id="phoneNumber" name="phone"
                                                    placeholder="Phone Number">
                                            </div>
                                        </div>

                                        <div class="form-group d-flex">
                                            <div class="col-6 me-2">
                                                <label for="address" class="labels">Address</label>
                                                <input type="text" class="form-control" id="userAddressField"
                                                    name="address" placeholder="Address">
                                            </div>
                                            <div class="col-6">
                                                <label for="cityTown" class="labels">City /Town</label>
                                                <input type="text" class="form-control" id="cityTown" name="city"
                                                    placeholder="City / Town">
                                            </div>
                                        </div>

                                        <div class="form-group d-flex">
                                            <div class="col-6 me-2">
                                                <label for="districtRegion" class="labels">District/ Region</label>
                                                <input type="text" class="form-control" id="districtRegion"
                                                    name="district" placeholder="State / Province / Region">
                                            </div>
                                            <div class="col-6 ">
                                                <label for="pincode" class="labels">Zip / Postal Code</label>
                                                <input type="text" class="form-control" id="pincode" name="pincode"
                                                    placeholder="Zip / Postal Code">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="selectState" class="labels">State</label>
                                            <div class="col-12">
                                                <select class="form-control" id="selectState" name="state">
                                                    <option value="" selected="selected">Please select the state
                                                    </option>
                                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                    <option value="Assam">Assam</option>
                                                    <option value="Bihar">Bihar</option>
                                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Gujarat">Gujarat</option>
                                                    <option value="Haryana">Haryana</option>
                                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                    <option value="Jharkhand">Jharkhand</option>
                                                    <option value="Karnataka">Karnataka</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                    <option value="Maharashtra">Maharashtra</option>
                                                    <option value="Manipur">Manipur</option>
                                                    <option value="Meghalaya">Meghalaya</option>
                                                    <option value="Mizoram">Mizoram</option>
                                                    <option value="Nagaland">Nagaland</option>
                                                    <option value="Odisha">Odisha</option>
                                                    <option value="Punjab">Punjab</option>
                                                    <option value="Rajasthan">Rajasthan</option>
                                                    <option value="Sikkim">Sikkim</option>
                                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                                    <option value="Telengana">Telangana</option>
                                                    <option value="Tripura">Tripura</option>
                                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                    <option value="Uttarakhand">Uttarakhand</option>
                                                    <option value="West Bengal">West Bengal</option>
                                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="d-flex  my-3">
                                            <a href="profile" class="btn btn-4 btn-outline-dark me-3">Cancel</a>
                                            <button type="submit" value="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <!-- edit Modal -->
    <div class="modal fade" id="editProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="editProfileLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header mx-5">
                    <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mx-5">
                    <div class="row mt-2 profileEdit">
                        <form id="userProfile">
                            <div class="col-md-6">
                                <input type="hidden" name="id" value="{{user._id}}">
                                <label class="labels" id="userName">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Name"
                                    value="{{user.name}}">
                            </div>
                            <div class="col-md-6">
                                <label class="labels" id="userEmail">Email</label>
                                <input type="text" class="form-control" name="email" placeholder="Email "
                                    value="{{user.email}}">
                            </div>
                            <div class="d-flex col-lg-6 mt-5 pt-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                                    <label class="form-check-label stockRadioBtn" for="Male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="female"
                                        value="Female">
                                    <label class="form-check-label stockRadioBtn" for="Female">Female</label>
                                </div>
                            </div>
                            <div class="mt-5 ">
                                <button class="btn btn-primary profile-button" type="sumbit">Save
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer Section Start -->
    <footer class="footer pt-5 ">
        <div class="container row mx-5 ">
            <a class="my-2" href="home">
                <div class="d-flex me-5 pe-5">
                    <img src="/img/book collection 0.png" alt="logo"
                        style="width: 40px; height: 40px; border-radius: 50%;">
                    <h3 class="gradient-text p-1 px-2"> <span class="pt-5">Atheneuam</span></h3>
                </div>
            </a>
            <div class="footer-col pe-3">
                <h4>Contact Us</h4>
                <ul>
                    <li>
                        1998 Wall Street 707,
                        Washington DC, USA</li>
                    <li>athenauem@domain.com</li>
                    <li>+91 97782458923</li>

                </ul>
            </div>
            <div class="footer-col pe-5">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
            <div class="footer-col pe-3">
                <h4>My Account</h4>
                <ul>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="footer-col ">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center pt-4">
            <small>&copy; 2023 athenauem.Inc.All rights reserved</small>
        </div>
    </footer>
    <!-- footer Section End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/geolocation.js"></script>

</body>

</html>