<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Atheneuam - Book Colleciton</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/book collection 0.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="dashboard" class="navbar-brand mx-4 mb-3">
                    <div class="d-flex justify-content-between">
                        <img src="/img/book collection 0.png" alt="logo"
                            style="width: 40px; height: 40px; border-radius: 50%;">
                        <h3 class="gradient-text p-1 px-2"> <span class="pt-5">Atheneuam</span></h3>
                    </div>
                </a>
                <div class="navbar-nav w-100 d-flex ">
                    <div>
                        <a href="dashboard" class="nav-item nav-link "><i class="bi bi-stack"></i>Dashboard</a>
                        <a href="shop" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Shops</a>
                        <a href="user" class="nav-item nav-link"><i class="bi bi-people"></i>Customers</a>
                        <a href="products" class="nav-item nav-link" id="productSection"><i class="bi bi-book"></i>Products</a>
                        <a href="order" class="nav-item nav-link"><i class="bi bi-cart3"></i></i>Orders</a>
                        <a href="charts" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                        <a href="admin" class="nav-item nav-link"><i class="bi bi-person"></i>Admin</a>
                        <a href="offer" class="nav-item nav-link"><i class="bi bi-percent"></i>Offer</a>
                        <a href="banner" class="nav-item nav-link"><i class="bi bi-card-image"></i>Banner</a>
                    </div>
                    <div>
                        <a href="#" class="nav-link" data-bs-toggle="dropdown"><i
                                class="bi bi-box-arrow-right"></i>Logout</a>

                    </div>
                </div>
            </nav>
        </div>
        </nav>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark  px-4 py-0">
            <div class="navbar-nav align-items-center ms-auto">
                <h6>
                    <a href="#" class="sidebar-toggler flex-shrink-0">
                        <i class="fa fa-bars"></i>
                    </a>
                </h6>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link ">
                        <h3><i class=" bi-person text-dark"></i>
                        </h3>
                    </a>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <div class="container-fluid pt-4 px-4">
            <div class="d-flex justify-content-end mb-3">
                <a href="bannerPage" class="btn btn-4 btn-outline-primary">Create</a>
            </div>
            <div class="bg-secondary border rounded">
                <div class="row no-gutters">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card-body pt-0 pb-4 table-responsive px-0">
                            <table class="table card-table text-center" style="width:100%">
                                <thead>
                                    <tr class="table-primary">
                                        <th>Banner Name</th>
                                        <th>Shop</th>
                                        <th>Click Type</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each banners}}
                                    <tr>
                                        <td class="text-dark">{{this.name}}</td>
                                        <td class="text-dark">{{this.shop}}</td>
                                        <td class="text-dark">{{this.type}}</td>
                                        <td class="text-dark">
                                            <img src="{{this.bannerImg}}" name="bannerImg" alt="{{this.name}}"
                                                class="tableImg">
                                        </td>
                                        <td class="text-secondary">
                                            <a href="banners?id={{_id}}"><i class="bi bi-pencil-square mx-3"></i></a>
                                            <a href="" class="delete" data-id={{_id}}><i
                                                    class="bi bi-trash-fill text-danger me-3"></i></a>
                                            {{!-- <a href="banner/{{_id}}"><input class="form-check-input" type="checkbox"
                                                    value="" data-id="{{_id}}" id="banner-{{_id}}"></a> --}}

                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>