<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Atheneuam - Book Colleciton</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/" class="navbar-brand mx-4 mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <img src="/img/favicon.png" alt="logo" style="width: 60px; height: 60px; border-radius: 50%;">
                        <h3 class="gradient-text "> <span>Atheneuam</span></h3>
                    </div>
                </a>
                <div class="navbar-nav w-100 d-flex  navbar-nav-scroll" id="navbar-nav-scroll">
                    <div>
                        <a href="/" class="nav-item nav-link active"><i class="bi bi-stack"></i>Dashboard</a>
                        <a href="shop" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Shops</a>
                        <a href="user" class="nav-item nav-link"><i class="bi bi-people"></i>Customers</a>
                        <a href="admin" class="nav-item nav-link"><i class="bi bi-person"></i>Admin</a>
                        <a href="products" class="nav-item nav-link" id="productSection"><i
                                class="bi bi-book"></i>Products</a>
                        <a href="category" class="nav-item nav-link"><i class="bi bi-box"></i>Category</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-bar-chart-line-fill me-2"></i>Reports</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a href="/latestOrder" class="dropdown-item">Latest Orders</a>
                                <a href="/itemsSales" class="dropdown-item">Product Sales</a>
                                <a href="/report" class="dropdown-item">Order Sales</a>
                            </div>
                        </div>
                        <a href="order" class="nav-item nav-link"><i class="bi bi-cart3"></i></i>Orders</a>
                        <a href="offer" class="nav-item nav-link"><i class="bi bi-percent"></i>Offer</a>
                        <a href="banner" class="nav-item nav-link"><i class="bi bi-card-image"></i>Banner</a>
                        <a href="/logout" class="nav-link"><i class="bi bi-box-arrow-right"></i>Logout</a>
                    </div>
                </div>
            </nav>
        </div>
        </nav>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark  px-4 py-0">
            <div class="navbar-nav align-items-center ms-auto">
                <h6>
                    <a href="#" class="sidebar-toggler flex-shrink-0">
                        <i class="fa fa-bars"></i>
                    </a>
                </h6>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link ">
                        <h3><i class=" bi-person text-dark"></i>
                        </h3>
                    </a>
                </div>
                <div class="mt-2 text-primary">
                    <p class="">{{admin}}</p>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <div class="container-fluid pt-4 px-4">
            <h2 class="text-primary text-center">Edit Banner</h2>
            <div class="bg-secondary border rounded">
                <form id="editBanner" enctype="multipart/form-data">
                    <div class="row m-2">
                        <input type="hidden" name="id" value="{{banners._id}}">
                        <div class="form-group my-2 col-lg-6">
                            <label for="banner name">Banner Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Banner Name"
                                value="{{banners.name}}">
                        </div>
                        <div class="my-2 col-lg-6">
                            <label for="shop">Shop</label>
                            <select class="form-select" aria-label="choose  a shop" name="shop">
                                {{#each shop}}
                                <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-lg-6  my-2">
                            <label for="Click type">Click Type</label>
                            <select class="form-select" aria-label="choose click type" name="type" id="editClickType">
                                <option value="category">Category</option>
                                <option value="product">Product</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6  my-2" id="bannerCategoryId">
                            <label for="Category ID">Category ID</label>
                            <select class="form-select" aria-label="choose category" name="categoryId"
                                value="{{banners.categoryId}}" id="categoryID">
                                {{#each genre}}
                                <option value="{{this.genre}}" selected>{{this.genre}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-lg-6  my-2" id="bannerProductId">
                            <label for="Product ID">Product ID</label>
                            <select class="form-select" aria-label="choose category" name="productId" id="productID"
                                value="{{banners.productId}}">
                                {{#each book}}
                                <option value="{{this._id}}">{{this._id}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-lg-6  mb-3">
                            <label for="image">Banner Image</label>
                            <input type="file" class="form-control" id="bannerImg" name="bannerImg" accept="image/*">
                        </div>
                        <div class="form-group col-lg-6  mb-3">
                            <label for="bannerDescription">Description</label>
                            <input type="text" class="form-control" id="Description" name="description"
                                placeholder="Description" value="{{banners.description}}">
                        </div>
                        <div class="d-flex justify-content-center my-3">
                            <a href="banner" class="btn btn-4 btn-outline-dark me-4">Cancel</a>
                            <button class="btn btn-4 btn-primary">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Content End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>