<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Atheneuam - Book Colleciton</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/book collection 0.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Header Start -->
    <Header class="container-fluid m-0 p-0">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
            <div class="container-fluid mx-lg-5">
                <a class="navbar-brand " href="home">
                    <div class="d-flex justify-content-between me-5 pe-5">
                        <img src="/img/book collection 0.png" alt="logo"
                            style="width: 40px; height: 40px; border-radius: 50%;">
                        <h3 class="gradient-text p-1 px-2"> <span class="pt-5">Atheneuam</span></h3>
                    </div>
                </a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon py-1"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between" id="navbarTogglerDemo02">
                    <div class="mx-lg-5 px-lg-5">
                        <ul class="navbar-nav mx-lg-5 me-auto mb-2 mb-lg-0 home-nav ">
                            <li class="nav-item homeNav">
                                <a class="nav-link " href="home">Home</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="shop-page">Shop</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="blog">Blog</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="author">Author</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-icon">
                            <li class="nav-item homeNav">
                                <div class="search-bar-container active nav-link">
                                    <img src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/magnifier-512.png"
                                        alt="magnifier" class="magnifier" />
                                    <input type="text" class="input" placeholder="Search ..." />
                                </div>
                            </li>
                            <li class="nav-item homeNav space">
                                <a class="nav-link" href="cart">
                                    <i class="bi bi-cart3"></i>
                                </a>

                            </li>
                            <li class="nav-item space">
                                <a class="nav-link text-primary" href="wishlist"><i class="bi bi-heart"></i></a>
                            </li>
                            <li class="nav-item homeNav space">
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link" data-bs-toggle="dropdown">
                                        <i class="bi bi-person"></i>
                                    </a>
                                    <div
                                        class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                                        <a href="profile" class="dropdown-item">My Profile</a>
                                        <a href="/logout" class="dropdown-item">Log Out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </Header>
    <!-- Header End -->
    <main class="bg-light">
        <div class="py-3 py-md-5 bg-light">
            <div class="container-fluid px-lg-5">
                <div class=" py-5">
                    <h2 class="text-primary text-center">Checkout</h2>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="container">                        
                                {{!-- <div class="cart-item bg-white mt-2 " id="shippingCard">
                                    <div class="row m-2 mt-3 d-flex justify-content-between">
                                        <h5 class="text-secondary mt-3">Shipping Address</h5>
                                        <div class="d-flex justify-content-between">
                                            <p>
                                                <b>{{updatedAdr}}</b>
                                                <span class="ps-1">{{name}}</span>
                                                <span class="ps-1">{{address}}</span>
                                                <span class="ps-1">{{district }}</span>
                                                <span class="ps-1">{{state}}-{{pin}}</span>
                                            </p>
                                            <a class="btn btn-outline-secondary mb-3">change</a>
                                        </div>
                                    </div>
                                </div> --}}
                            <div class="row" id="addressArea">
                                <div class="cart-item bg-white" id="addressCard">
                                    {{#each address}}
                                    <div class="row m-2 mt-3">
                                        <h5 class="text-secondary">Delivery Address</h5>
                                        <div class="d-flex justify-content-between">
                                            <p>
                                                <b>{{this.fullName}}</b>
                                                <span class="ps-1">{{this.address}}</span>
                                                <span class="ps-1">{{this.city}}</span>
                                                <span class="ps-1">{{this.district}}</span>
                                                <span class="ps-1">{{this.state}}-{{this.pincode}}</span>
                                            </p>
                                            <a class="btn btn-outline-secondary adrSelection"
                                                data-address='{"fullName": "{{this.fullName}}", "phone": "{{this.phone}}", "address": "{{this.address}}", "city": "{{this.city}}", "district": "{{this.district}}", "state": "{{this.state}}", "pincode": "{{this.pincode}}", "_id":"{{this._id}}"}'>Select</a>
                                                <a class="btn btn-outline-secondary adrChange">change</a>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>

                                <div id="editShipping">
                                    <p class="fs-5 text-primary ms-3">Shipping Address</p>
                                    <div class="col-12 ">
                                        <div class="border p-3">
                                            <form id="shippingAdr">

                                                <div class="row">
                                                    <div class="d-flex flex-column form-group col-6">
                                                        <label for="name"> <i class="fa fa-user"></i><span
                                                                class="ps-2">Name</span></label>
                                                        <input type="hidden" id="shippingId" name="_id" value="">
                                                        <input type="text" id="fname" name="fullName"
                                                            class="form-control" placeholder="Name" value="">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="Phone"><i class="bi bi-telephone"></i> <span
                                                                class="ps-2">Phone</span></label>
                                                        <input type="text" id="phone" name="phone" class="form-control"
                                                            placeholder="Phone Number" value="">
                                                    </div>
                                                </div>
                                                <div class="row  mt-2">
                                                    <div class="d-flex flex-column form-group col-6">
                                                        <label for="adr"><i class="fa fa-address-card-o"></i> <span
                                                                class="ps-2">Address</span></label>
                                                        <input type="text" id="adr" name="address" class="form-control"
                                                            placeholder="Address" value="">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="city"><i class="fa fa-institution"></i><span
                                                                class="ps-2">City</span> </label>
                                                        <input type="text" id="city" name="city" placeholder="New York"
                                                            class="form-control" value="">
                                                    </div>
                                                </div>
                                                <div class="row  mt-2">
                                                    <div class="d-flex flex-column form-group col-6">
                                                        <label for="districtRegion" class="labels">District/
                                                            Region</label>
                                                        <input type="text" class="form-control" id="district"
                                                            name="district" placeholder="district">
                                                    </div>
                                                    <div class="d-flex flex-column form-group col-6">
                                                        <label for="state">State</label>
                                                        <input type="text" id="state" name="state" placeholder="State"
                                                            class="form-control" value="">
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="form-group col-6">
                                                        <label for="pincode">Pin Code</label>
                                                        <input type="text" id="pincode" name="pincode"
                                                            placeholder="Pin code" class="form-control" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group mt-3">
                                                    <a href="" class="btn btn-outline-secondary">Cancel</a>
                                                    <button class="btn btn-primary">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="paymentSection">
                            <div class="container bg-white mt-3">
                                <div>
                                    <input class="form-check-input me-2" type="radio" id="COD" name="payementMethod"
                                        value="cod" checked />
                                    <label class="form-check-label payementRadioBtn" for="COD">Cash on Delivery</label>
                                </div>
                            </div>
                            <div class="container bg-white mt-3">
                                <div>
                                    <input class="form-check-input me-2" type="radio" id="onlinePayment"
                                        name="payementMethod" value="onlinePayment" />
                                    <label class="form-check-label payementRadioBtn" for="onlinePayment">Online
                                        Payment</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center col-12 py-3">
                            <button class="btn btn-outline-primary" type="submit">Place Order</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="container bg-white">
                            <form id="couponBtn" class=" py-3">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control " placeholder="Coupon" aria-label="Coupon"
                                        aria-describedby="basic-addon2" id="coupon" name="couponCode">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary " type="submit">Apply</button>
                                    </div>
                                </div>
                            </form>
                            <div id="placeOrder">
                                <div class="d-flex justify-content-between ">
                                    <h5 class="text-primary">Product Details</h5>
                                    <h5 class="text-primary">Price</h5>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <p class="text-dark">Total price</p>
                                    <p class="text-dark">&#8377 {{totalPrice}}</p>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <p class="text-dark">Discount</p>
                                    <p class="text-dark">- &#8377 {{coupon}}</p>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <p class="text-dark">Delivery Charges</p>
                                    <p class="text-dark">Free</p>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between ">
                                    <p class="text-dark">Total</p>
                                    <p class="text-dark font-weight-bold">&#8377 {{mrp}}</p>
                                </div>


                            </div>
                        </div>
                       
                        {{!-- <div class="container bg-white mt-3"> --}}
                            {{!-- <div>
                                <input class="form-check-input me-2" type="radio" id="cardPayement"
                                    name="payementMethod" value="card payement" />
                                <label class="form-check-label payementRadioBtn" for="card">Debit card/credit
                                    card</label>
                            </div> --}}
                            {{!-- </div> --}}

                    </div>
                </div>

            </div>
        </div>
    </main>



    <footer class="footer pt-5 ">
        <div class="container row mx-5 ">
            <a class="my-2" href="home">
                <div class="d-flex me-5 pe-5">
                    <img src="/img/book collection 0.png" alt="logo"
                        style="width: 40px; height: 40px; border-radius: 50%;">
                    <h3 class="gradient-text p-1 px-2"> <span class="pt-5">Atheneuam</span></h3>
                </div>
            </a>
            <div class="footer-col pe-3">
                <h4>Contact Us</h4>
                <ul>
                    <li>
                        1998 Wall Street 707,
                        Washington DC, USA</li>
                    <li>athenauem@domain.com</li>
                    <li>+91 97782458923</li>

                </ul>
            </div>
            <div class="footer-col pe-5">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
            <div class="footer-col pe-3">
                <h4>My Account</h4>
                <ul>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="footer-col ">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center pt-4">
            <small>&copy; 2023 athenauem.Inc.All rights reserved</small>
        </div>
    </footer>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/search.js"></script>

</body>

</html>