<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- views/index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Integration</title>
</head>
<body>
   


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Atheneuam - Book Colleciton</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/book collection 0.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    
Conversation opened. 1 unread message.

Skip to content
Using Gmail with screen readers
1 of 2,540
(no subject)
Inbox

jeeva mk <jeevamk100@gmail.com>
23:21 (1 minute ago)
to me

<section class="gradient-custom mt-5">
        <div class="container py-5 h-100 mb-4">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card shadow-lg" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                            {{!-- <img src="/images/loginImg.jpg" alt="" class="img-fluid" width="100px"> --}}
                            <span
                                style="font-size: larger; font-weight:bold">Thanks For Your Order, <span
                                    style="color: #000000; font-style:italic"
                                    class="text-danger">{{address.name}}</span></span>
                            
                        </div>
                        <div class="d-flex justify-content-between pt-2 ps-4">
                            <p class="fw-bold mb-0">Delivery Address</p>
                        </div>

                        <div class="d-flex justify-content-between pt-2 shadow-sm ps-4 pb-3">
                            <p class="text-muted mb-0">
                                {{address.name}},{{address.address}},{{address.area}},{{address.city}},{{address.state}}<br>{{address.phone}}
                            </p>
                        </div>

                        <div class="card-body p-4">
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between 1h-condensed">
                                    <p class="my-0">Receipt id : <small>{{orderData._id}}</small></p>
                                    <small class="me-5 ms-auto text-success">{{orderData.orderStatus}}</small>
                                </li>

                            </ul>
                            {{!-- <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0 me-auto" style="color: #000000;">Receipt</p>
                                <p class="small text-muted mb-0">Receipt id : {{orderData._id}}<br><span
                                        class="text-success">{{orderData.orderStatus}}</span></p>
                            </div> --}}

                            {{#each Products}}

                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{this.productData.images}}" class="img-fluid" alt="product">
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0">{{this.productData.name}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">{{this.productData.category}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">{{this.productData.brand}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">Qty: {{this.quantity}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small" id="grand{{this.productData._id}}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                var price = {{ this.productData.price }}
                                var qty = {{ this.quantity }}
                                var total = price * qty
                                document.getElementById("grand{{this.productData._id}}").textContent = total
                            </script>
                            {{/each}}

                        </div>
                        <div class="card-footer border-0 px-4 py-5"
                            style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                            <h5 class="d-flex align-items-center justify-content-end text-dark text-uppercase mb-0">
                                Total
                                paid: <span class="h2 mb-0 ms-2" id="totalPay">₹ {{grandtotal}} /-</span></h5>
                        </div>

                        
                        <a href="/shop"><button class="btn btn-outline-dark w-100 mt-3">BACK TO SHOP</button></a>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <footer class="footer pt-5 ">
        <div class="container row mx-5 ">
            <a class="my-2" href="home">
                <div class="d-flex me-5 pe-5">
                    <img src="/img/book collection 0.png" alt="logo"
                        style="width: 40px; height: 40px; border-radius: 50%;">
                    <h3 class="gradient-text p-1 px-2"> <span class="pt-5">Atheneuam</span></h3>
                </div>
            </a>
            <div class="footer-col pe-3">
                <h4>Contact Us</h4>
                <ul>
                    <li>
                        1998 Wall Street 707,
                        Washington DC, USA</li>
                    <li>athenauem@domain.com</li>
                    <li>+91 97782458923</li>

                </ul>
            </div>
            <div class="footer-col pe-5">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
            <div class="footer-col pe-3">
                <h4>My Account</h4>
                <ul>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="footer-col ">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center pt-4">
            <small>&copy; 2023 athenauem.Inc.All rights reserved</small>
        </div>
    </footer>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>

</body>

</html>
