<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Atheneuam - Book Colleciton</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/book collection 0.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Header Start -->
    <Header class="container-fluid m-0 p-0">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
            <div class="container-fluid mx-lg-5">
                <a class="navbar-brand " href="/home">
                    <div class="d-flex justify-content-between me-5 pe-5">
                        <img src="/img/book collection 0.png" alt="logo"
                            style="width: 40px; height: 40px; border-radius: 50%;">
                        <h3 class="gradient-text p-1 px-2"> <span class="pt-5">Atheneuam</span></h3>
                    </div>
                </a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon py-1"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between" id="navbarTogglerDemo02">
                    <div class="mx-lg-5 px-lg-5">
                        <ul class="navbar-nav mx-lg-5 me-auto mb-2 mb-lg-0 home-nav ">
                            <li class="nav-item homeNav">
                                <a class="nav-link " href="/home">Home</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="/shop-page">Shop</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="/author">Author</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-icon">
                            <li class="nav-item homeNav">
                                <form autocomplete="off">
                                    <div class="search-bar-container active">
                                        <img src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/magnifier-512.png"
                                            alt="magnifier" class="magnifier" />
                                        <input type="text" class="input" name="searchQuery" placeholder="Search ..."
                                            autocomplete="off">
                                    </div>
                                </form>
                            </li>
                            <li class="nav-item homeNav space">
                                <a class="nav-link" href="cart">
                                    <i class="bi bi-cart3"></i><sup class="total-count fs-5">{{length}}</sup>
                                </a>

                            </li>
                            <li class="nav-item homeNav space">
                                <a class="nav-link" href="wishlist"><i class="bi bi-heart"></i></a>
                            </li>
                            <li class="nav-item space">
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link text-primary" aria-current="page"
                                        data-bs-toggle="dropdown">
                                        <i class="bi bi-person"></i>
                                    </a>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </Header>
    <!-- Header End -->
    <main>
        <div class="container-fluid rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right bg-light">
                    <div class="d-flex  m-5 mb-0">
                        <img class="rounded-circle" width="40px" id="profileImg"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <div class="d-flex flex-column px-3">
                            <p class="text-black-50 fs-5 mb-0">Hello</p>
                            <div class="font-weight-bold fs-5">{{user.name}}</div>
                        </div>
                    </div>
                    <hr>
                    <div class="mx-5">
                        <a href="myOrder" class="dropdown-item fs-5"><i class="bi bi-truck"></i><span class="ps-2">My
                                Orders</span></a>
                    </div>
                    <hr>
                    <div class="mx-5">
                        <a href="profile" class="dropdown-item">
                            <i class="bi bi-person-fill"></i><span class="ps-2">Account
                                Settings</span>
                        </a>
                    </div>
                    <hr>
                    <div class="mx-5">
                        <a href="logout" class="dropdown-item"><i class="bi bi-box-arrow-right"></i>
                            <span class="ps-2">Logout</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 border-right">
                    <div class="p-3 pb-0 py-5">
                        <div class="card">
                            <div class="card-body">
                                {{#if Cancelled }}
                                <div class="row mb-1">
                                    <h3 class="text-center" style="display: none;">Order Details <span>
                                        <a id="cancel"
                                                data-order-id="{{myOrder._id}}" class="btn text-danger float-end">Cancel
                                                Order</a></span></h3>
                                </div>

                                <div class="row mb-1">
                                    <h3 class="text-center" style="display:block">Order Details <span><a id="deleteord"
                                                data-order-id="{{myOrder._id}}" class="btn text-danger float-end">Delete
                                                Order</a></span></h3>
                                </div>
                                {{!-- {{/if}} --}}
                                {{else if Outofdelivery }}
                                <div class="row mb-1">
                                    <h3 class="text-center" style="display: none;">Order Details <span><a id="cancel"
                                                data-order-id="{{myOrder._id}}" class="btn text-danger float-end">Cancel
                                                Order</a></span></h3>
                                </div>
                                <div class="row mb-1">
                                    <h3 class="text-center" style="display: block;">Order Details <span></span></h3>
                                </div>


                                <div class="row mb-1">
                                    <h3 class="text-center" style="display:none">Order Details <span><a id="deleteord"
                                                data-order-id="{{myOrder._id}}" class="btn text-danger float-end">Delete
                                                Order</a></span></h3>
                                </div>
                                {{else }}
                                <div class="row mb-1">
                                    <h3 class="text-center" style="display: block;">Order Details <span><a id="cancel"
                                                data-order-id="{{myOrder._id}}" class="btn text-danger float-end">Cancel
                                                Order</a></span></h3>
                                </div>

                                <div class="row mb-1">
                                    <h3 class="text-center" style="display:none">Order Details <span><a id="deleteord"
                                                data-order-id="{{myOrder._id}}" class="btn text-danger float-end">Delete
                                                Order</a></span></h3>
                                </div>
                                {{/if}}


                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="card shadow-0 border mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <h5 class="">Delivery Address</h5>
                                                <p class=""><span
                                                        style="font-weight: 600;">{{addressDetails.name}},</span>
                                                    {{addressDetails.address}},{{addressDetails.area}},{{addressDetails.city}},{{addressDetails.state}},{{addressDetails.pincode}}<br>Phone:
                                                    <span style="font-weight: 600;">{{addressDetails.phone}}</span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-1">
                                        <div class="card shadow-0 border mb-4">
                                            <div class="card-body">
                                                <div class="row">
                                                    <h5 class="">Order Info</h5>
                                                    <div>
                                                        <p class="">OrderId : <span class="">{{myOrder._id}}</p></small>
                                                        <p class="">Payment Method :<span
                                                                class="">{{myOrder.paymentMethod}}</span></p>
                                                        {{!-- <p class="">Status :<span class="text-success"
                                                                style="font-weight: 700;">{{myOrder.orderStatus}}</span>
                                                        </p>
                                                        --}}
                                                        {{#if Orderplaced}}
                                                        <p class="">Status :<span class="text-success"
                                                                style="font-weight: 700;">{{myOrder.orderStatus}}</span>
                                                        </p>
                                                        {{/if}}
                                                        {{#if shipped}}
                                                        <p class="">Status :<span class="text-warning"
                                                                style="font-weight: 700;">{{myOrder.orderStatus}}</span>
                                                        </p>
                                                        {{/if}}
                                                        {{#if deliverd}}
                                                        <p class="">Status :<span class="text-success"
                                                                style="font-weight: 700;">{{myOrder.orderStatus}}</span>
                                                        </p>
                                                        {{/if}}
                                                        {{#if Cancelled}}
                                                        <p class="">Status :<span class="text-danger"
                                                                style="font-weight: 700;">{{myOrder.orderStatus}}</span>
                                                        </p>
                                                        {{/if}}
                                                        {{#if Outofdelivery}}
                                                        <p class="">Status :<span class="text-danger"
                                                                style="font-weight: 700;">{{myOrder.orderStatus}}</span>
                                                        </p>
                                                        {{/if}}

                                                        <p class="">Amount :<span class="text-dark" id="amountDisplay"
                                                                style="font-weight: 700;"></span></p>

                                                        <p class="">Order Date: <span id="orderDate"></span> </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            var amountDisplay = document.getElementById("amountDisplay");
                            var displayAmount =
                                {{ #if myOrder.totalAmountAfterDiscount }}
                            { { myOrder.totalAmountAfterDiscount } }
                            { {else } }
                            { { myOrder.grandtotal } }
                            {
                                {
                                    /if}};

                                    amountDisplay.textContent = displayAmount;
                        </script>




                        <div class="row mb-1">
                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <h5>Product Details</h5>
                                        {{#each orderData}}
                                        <div class="card shadow-0 border mb-4">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <a href="/shop/{{this.orderProduct._id}}"><img
                                                                src="{{this.orderProduct.images}}" class="img-fluid"
                                                                alt="product"></a>
                                                    </div>
                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0">{{this.orderProduct.name}}
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0"><span
                                                                class="text-dark">Brand:</span><br>{{this.orderProduct.brand}}
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0"><span
                                                                class="text-dark">Category:</span><br>
                                                            {{this.orderProduct.category}}
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small"><span
                                                                class="text-dark">Quantity:</span><br>{{this.quantity}}
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small"><i
                                                                class="fa-solid fa-indian-rupee-sign"></i>{{this.total}}
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>



            </section>

            <!-- Modal edit form -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 style="text-align: center; font-family: cursive; font-weight: bold;">Edit Form</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editForm">
                                <div class="mb-4">
                                    <input type="text" class="form-control" id="InputName1" placeholder="Enter Name"
                                        name="name" value="{{user.name}}">
                                </div>
                                <div class="mb-4">
                                    <input type="email" class="form-control" id="InputEmail1" placeholder="Enter Email"
                                        name="email" value="{{user.email}}">
                                </div>
                                <div class="mb-4">
                                    <input type="number" class="form-control" id="Inputphone1"
                                        placeholder="Enter Phone number" name="phone" value="{{user.phone}}">
                                </div>
                                <button type="button" id="userButton" onclick="func()" class="btn btn-outline-dark"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">Save Changes</button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

            {{!-- modal changepassword --}}

            <div class="modal fade" id="passwordchange" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 style="text-align: center; font-family: cursive; font-weight: bold;">Change Password
                            </h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="changepassword">
                                <input type="text" class="form-control" name="_id" hidden value="{{user._id}}">
                                <div class="mb-4">
                                    <input type="password" class="form-control" id="currentpassword"
                                        placeholder="Enter current password" name="currentpassword">
                                </div>
                                <div class="mb-4">
                                    <input type="password" class="form-control" id="newpassword"
                                        placeholder="Enter New password" name="newpassword">
                                </div>
                                <div class="mb-4">
                                    <input type="password" class="form-control" id="cnewpassword"
                                        placeholder="Confirm New password" name="cnewpassword">
                                </div>
                                <button type="button" id="changeButton" onclick="change()" class="btn btn-outline-dark"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">Save Changes</button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>




            {{!----------------------------------- modal3 edit data from the table
            -------------------------------------------}}
            <div class="modal fade" id="ordercancelmodal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Cancel Order</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="cancelorder">

                        </div>
                        <div class="modal-footer">
                            <a href="/orderSummary"><button type="button" class="btn btn-secondary">Close</button></a>
                        </div>
                    </div>
                </div>
            </div>



            {{!-- modal4 view delete data from the table --}}
            <div class="modal fade" id="deleteordr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete Order</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="deleteorder">

                        </div>
                        <div class="modal-footer">
                            <a href="/orderSummary"><button type="button" class="btn btn-secondary">Close</button></a>
                        </div>
                    </div>
                </div>
            </div>


            {{!-- modal delete user --}}

            <div class="modal fade" id="deletemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="deletebody">

                        </div>
                        <div class="modal-footer">
                            <a href="/user"><button type="button" class="btn btn-secondary">Close</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                    const orderDate = "{{myOrder.orderDate}}"
                    document.getElementById("orderDate").innerHTML = orderDate.split(" ").slice(0, 4).join(" ");
            </script>

            {{#if alert}}
            <script>
                    alert("User not found")
            </script>
            {{/if}}

    </main>

    <!-- footer Section Start -->
    <footer class="footer pt-5 ">
        <div class="container row mx-5 ">
            <a class="my-2" href="home">
                <div class="d-flex me-5 pe-5">
                    <img src="/img/book collection 0.png" alt="logo"
                        style="width: 40px; height: 40px; border-radius: 50%;">
                    <h3 class="gradient-text p-1 px-2"> <span class="pt-5">Atheneuam</span></h3>
                </div>
            </a>
            <div class="footer-col pe-3">
                <h4>Contact Us</h4>
                <ul>
                    <li>
                        1998 Wall Street 707,
                        Washington DC, USA</li>
                    <li>athenauem@domain.com</li>
                    <li>+91 97782458923</li>

                </ul>
            </div>
            <div class="footer-col pe-5">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
            <div class="footer-col pe-3">
                <h4>My Account</h4>
                <ul>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="footer-col ">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center pt-4">
            <small>&copy; 2023 athenauem.Inc.All rights reserved</small>
        </div>
    </footer>
    <!-- footer Section End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/search.js"></script>

</body>

</html>