<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Atheneuam - Book Colleciton</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/logo.jpg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Add these links in your HTML head section -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="dashboard" class="navbar-brand mx-4 mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <img src="/img/logo.jpg" alt="logo" style="width: 60px; height: 60px; border-radius: 50%;">
                        <h3 class="gradient-text "> <span>Atheneuam</span></h3>
                    </div>
                </a>
                <div class="navbar-nav w-100 d-flex navbar-nav-scroll" id="navbar-nav-scroll">
                    <div>
                        <a href="dashboard" class="nav-item nav-link "><i class="bi bi-stack"></i>Dashboard</a>
                        <a href="shop" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Shops</a>
                        <a href="user" class="nav-item nav-link"><i class="bi bi-people"></i>Customers</a>
                        <a href="products" class="nav-item nav-link" id="productSection"><i
                                class="bi bi-book"></i>Products</a>
                        <a href="category" class="nav-item nav-link active"><i class="bi bi-book"></i>Category</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="bi bi-bar-chart-line-fill me-2"></i>Reports</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a href="/latestOrder" class="dropdown-item">Latest Orders</a>
                                <a href="/itemsSales" class="dropdown-item">Product Sales</a>
                                <a href="/report" class="dropdown-item">Order Sales</a>
                            </div>
                        </div>
                        <a href="order" class="nav-item nav-link"><i class="bi bi-cart3"></i></i>Orders</a>
                        <a href="admin" class="nav-item nav-link"><i class="bi bi-person"></i>Admin</a>
                        <a href="offer" class="nav-item nav-link"><i class="bi bi-percent"></i>Offer</a>
                        <a href="banner" class="nav-item nav-link"><i class="bi bi-card-image"></i>Banner</a>
                    </div>
                    <div>
                        <a href="logout" class="nav-link" data-bs-toggle="dropdown"><i
                                class="bi bi-box-arrow-right"></i>Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark  px-4 py-0">
            <div class="navbar-nav align-items-center ms-auto">
                <h6>
                    <a href="#" class="sidebar-toggler flex-shrink-0">
                        <i class="fa fa-bars "></i>
                    </a>
                </h6>
                <div class="nav-item dropdown">
                    <a href="" class="dropdown-item">
                        <h3><i class="bi bi-person text-dark"></i></h3>
                    </a>
                </div>
                <div class="mt-2 text-primary">
                    <p class="">{{admin}}</p>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <div class="container my-5">
            <div class="row pt-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card shadow-lg">
                        <div class="card-body text-center">
                            <h4 class="text-dark">User Info</h4>
                            <h6 class=" text-muted">{{users.name}}</h6>
                            <h6 class="text-muted">{{users.email}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">
                    <div class="card">
                        <div class="card-body shadow-lg">
                            <h4 class="text-dark text-center">Delivery Address</h4>
                            <h6 class="text-muted text-center">
                                <span>{{address.fullName}},</span><br>
                                {{address.address}},{{address.city}},{{address.district}},{{address.state}}-{{address.pincode}}<br>Phone:
                                <span style="">{{address.phone}}</span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">
                    <div class="card">
                        <div class="card-body shadow-lg">
                            <h4 class="text-dark text-center">Order Info</h4>
                            <h6>
                                <span class="text-light" style="font-size: 17px;">order Id : </span>{{order._id}}
                            </h6>
                            <h6>
                                <span class="text-light" style="font-size: 17px;">payment Method :
                                </span>{{order.paymentMethod}}
                            </h6>
                            <h6>
                                <span class="text-light" style="font-size: 17px;">Total Amount : </span>&#8377
                                {{order.TotalAmt}}/-
                            </h6>
                            <div id="discountDisplay" style="display: none;">
                                <h6 class="text-muted"><span class="text-light" style="font-size: 17px;">Coupon Code:
                                    </span>{{order.couponCode:}}/-</h6>
                                <h6 class="text-muted"><span class="text-light" style="font-size: 17px;">Discount Amout:
                                    </span> &#8377 {{order.dicount}}/-</h6>
                                <h6 class="text-muted"><span class="text-light" style="font-size: 17px;">Payable Amount
                                        :
                                    </span>&#8377 {{order.payableTotal}}/-</h6>
                            </div>
                            <h6 class="text-muted"><span class="text-light" style="font-size: 17px;">Order Status :
                                </span>{{order.orderStatus}}</h6>
                            <h6 class="text-muted"><span class="text-light" style="font-size: 17px;">Order Date :
                                </span>{{orderDate}}</h6>
                            <h6 class="text-muted"><span class="text-light" style="font-size: 17px;">Delivery Date :
                                </span>{{deliveryDate}}
                        </div>
                        <script>
                            if ({{ order.couponCode }} !== '') {
                                document.getElementById('discountDisplay').style.display = 'block';
                            }
                        </script>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">
                    <div class="card">
                        <div class="card-body shadow-lg">
                            <h4 class="text-dark text-center">Product Details</h4>
                            {{#each orderDatas}}
                            <h6 class="text-muted">
                                <span class="text-light" style="font-size: 17px;">Product Name :
                                </span>{{this.itemDetails.bookName}}
                            </h6>
                            <h6 class="text-muted">
                                <span class="text-light" style="font-size: 17px;">Genre :
                                </span>{{this.itemDetails.genre}}
                            </h6>
                            <h6 class="text-muted">
                                <span class="text-light" style="font-size: 17px;">Shop Id :
                                </span>{{this.itemDetails.shopId}}
                            </h6>
                            <h6 class="text-muted">
                                <span class="text-ligh" style="font-size: 17px;">Price :
                                </span>&#8377 {{this.itemDetails.price}} /-
                            </h6>
                            <h6 class="text-muted">
                                <span class="text-light" style="font-size: 17px;">Quantity :
                                </span>{{this.quantity}}
                            </h6>
                            <h6 class="text-muted">
                                <span class="text-light" style="font-size: 17px;">Sub Total :
                                </span>&#8377 {{this.total}} /-
                            </h6>
                            <hr>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>