<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Atheneuam - Book Colleciton</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/product.css" rel="stylesheet">
    <link href="/css/shopPage.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Header Start -->
    <Header class="container-fluid m-0 p-0">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
            <div class="container-fluid mx-lg-5">
                <a class="navbar-brand " href="/">
                    <div class="d-flex justify-content-between align-items-center me-5 pe-5">
                        <img src="/img/favicon.png" alt="logo" style="width: 40px; height: 40px; border-radius: 50%;">
                        <h3 class="gradient-text"> <span>Atheneuam</span></h3>
                    </div>
                </a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon py-1"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between" id="navbarTogglerDemo02">
                    <div class="mx-lg-5 px-lg-5">
                        <ul class="navbar-nav mx-lg-5 me-auto mb-2 mb-lg-0 home-nav ">
                            <li class="nav-item ">
                                <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link text-primary" href="/shop-page">Shop</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="/category">Category</a>
                            </li>
                            <li class="nav-item homeNav">
                                <a class="nav-link" href="/author">Author</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-icon">
                            <li>
                                <form autocomplete="off">
                                    <div class="search-bar-container active">
                                        <img src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/magnifier-512.png"
                                            alt="magnifier" class="magnifier" />
                                        <input type="text" class="input" name="searchQuery" placeholder="Search ..."
                                            autocomplete="off">
                                    </div>
                                </form>
                            </li>
                            <li class="nav-item homeNav space ">
                                <a class="nav-link" href="/cart">
                                    <i class="bi bi-cart3"></i><sup class="total-count fs-5">{{length}}</sup>
                                </a>

                            </li>
                            <li class="nav-item homeNav space ">
                                <a class="nav-link" href="/wishlist"><i class="bi bi-heart"></i></a>
                            </li>
                            <li class="nav-item homeNav space ">
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link" data-bs-toggle="dropdown">
                                        <i class="bi bi-person"></i>
                                        <div class="d-none d-lg-inline-flex text fs-5 display-6 ps-2">{{user}}</div>
                                    </a>
                                    <div
                                        class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                                        <a href="profile" class="dropdown-item">My Profile</a>
                                        <a href="/logout" class="dropdown-item" id="logoutText"></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </Header>
    <!-- Header End -->

    <div class="container-fluid mt-5 pt-5 mx-auto overflow-hidden">
        <!-- Filter Section Start -->
        <div class="bg-white mt-5 mx-auto mx-lg-5 px-3  d-flex align-items-center justify-content-between" id="header">
            <button class="btn btn-hide text-uppercase" type="button" data-toggle="collapse" data-target="#filterbar"
                aria-expanded="false" aria-controls="filterbar" id="filter-btn" onclick="return changedBtnTxt()">
                <span class="fas fa-angle-left" id="filter-angle"></span>
                <span id="btn-txt">Hide filters</span>
            </button>
            <div>
                    <a href="?page={{prev}}"><i class="fa-solid fa-arrow-right fa-rotate-180 me-2 text-primary"></i></a>
                {{#each pages}}
                <a href="?page={{this}}" class="me-2 paginationBox p-1 px-2" style="text-decoration: none">{{this}}</a>
                {{/each}}
                <a href="?page={{next}}"><i class="fa-solid fa-arrow-right text-primary"></i></a>
                </div>
            
        </div>
        <div id="content" class="my-5 mx-auto px-0 ms-lg-3 pe-0 ">
            <div id="filterbar" class="collapse">
                <div class="box border-bottom ">
                    <div class="form-group text-center">
                        <div class="btn-group" data-toggle="buttons">
                            <button class="btn btn-success form-check-label w-50" onclick="return  resetFilters()">
                                Reset
                            </button>
                            <button class="btn btn-success form-check-label w-50 active" onclick="return applyFilters()">
                                Apply
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box border-bottom">
                    <div class="box-label text-uppercase d-flex align-items-center">Genre
                        <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#inner-box"
                            aria-controls="inner-box" onclick="return toggleInnerBox()">
                            <span id="plus-icon" class="fas fa-plus"></span>
                        </button>
                    </div>
                    <div id="inner-box" class=" mt-2 mr-1">
                        {{#each genre}}
                        <div class="my-1">
                            <label class="tick">{{this.genre}}
                                <input type="checkbox" value="{{this.genre}}" data-genre="{{this.genre}}"
                                    checked="checked">
                                <span class="check"></span>
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="box border-bottom">
                    <div class="box-label text-uppercase d-flex align-items-center">Author
                        <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#inner-box2"
                            aria-expanded="false" aria-controls="inner-box2" onclick="return toggleInnerBox1()">
                            <span id="plus-icon1" class="fas fa-plus"></span>
                        </button>
                    </div>
                    <div id="inner-box2" class="collapse mt-2 mr-1 ">
                        {{#each authors}}
                        <div class="my-1">
                            <label class="tick">{{this}}
                                <input type="checkbox" value="{{this}}" data-author="{{this}}" checked="checked">
                                <span class="check"></span>
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="box ">
                    <div class="box-label text-uppercase d-flex align-items-center">price
                        <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#price"
                            aria-expanded="false" aria-controls="price" onclick="return toggleInnerBox2()">
                            <span id="plus-icon2" class="fas fa-plus"></span>
                        </button>
                    </div>
                    <div class="collapse" id="price">
                        <div class="price-input">
                            <div class="field">
                                <span>Min</span>
                                <input type="number" class="input-min" id="minPrice" value="0">
                            </div>
                            <div class="separator">-</div>
                            <div class="field">
                                <span>Max</span>
                                <input type="number" class="input-max" id="maxPrice" value="10000">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="shop">
                    <div class="shopProduct overflow-hidden">
                        {{#each books}}
                        <div class="item col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 pe-2">
                            <div class="sq_box shadow">
                                <div class="pdis_img">
                                    <a href="/productView/{{this._id}}">
                                        <img src="{{this.productImg}}">
                                    </a>
                                </div>
                                <h4 class="mb-1">{{this.bookName}} </h4>
                                <p>By {{this.author}}</p>
                                <div class="price-box mb-2">
                                    <span> Price <i class="fa fa-inr"></i> {{this.originalPrice}} </span>
                                    <span class="offer-price"> Offer Price <i class="fa fa-inr"></i> {{this.price}}
                                    </span>
                                </div>
                                <div class="btn-box text-center bg-primary ">
                                    <span class="wishlist singleWishlist">
                                        <a href="/wishlist/{{this._id}}" class="wrapper nav-link ">
                                            <div class="icon-wishlist "></div>
                                        </a>
                                    </span>
                                </div>
                                <div class="bg-danger text-center text-white py-1" id="outOfStock-{{this._id}}"
                                    style="display: none;">
                                    {{this.stock}}
                                </div>
                                <a class="text-white btn btn-sm " href="/carts/{{this._id}}"
                                    onclick='return addToCartAndShowAlert("{{this._id}}")' id="addToCart-{{this._id}}"
                                    style="border-radius: 0;">
                                    <i class="fa fa-shopping-cart"></i> Add to Cart
                                </a>
                                <script>
                                    if ({{ this.quantity }} == 0 || "{{this.stock}}" == "Out Of Stock") {
                                        document.getElementById(`outOfStock-{{this._id}}`).style.display = 'block';
                                        document.getElementById("addToCart-{{this._id}}").style.display = 'none';
                                    }
                                </script>
                                <div class="qty-container mx-auto text-dark home-qty" id="qty-{{this._id}}"
                                    style="display: none;">
                                    <button class="qty-btn-minus btn-primary px-1" type="button" id="decBtn"
                                        onclick="decrementQuantity('{{this._id}}')"><i class="fa fa-minus"></i>
                                    </button>
                                    <input type="text" name="qty" value="1" id="cartQty-{{this._id}}"
                                        class=" text-center w-100" readonly />
                                    <button class="qty-btn-plus btn-primary px-1" type="button"
                                        onclick="incrementQuantity('{{this._id}}')"><i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <script>
                                    if({{this.inCart}}){
                                        document.getElementById('addToCart-{{this._id}}').style.display = 'none';
                                        document.getElementById('qty-{{this._id}}').style.display = 'flex';
                                        document.getElementById('cartQty-{{this._id}}').value = {{this.cartQty}};
                                    }
                                </script>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer pt-5 ">
        <div class="ms-4 ms-lg-5 row mx-auto">
            <a class="my-2" href="/">
                <div class="d-flex me-5 pe-5">
                    <img src="/img/favicon.png" alt="logo" style="width: 40px; height: 40px; border-radius: 50%;">
                    <h3 class="gradient-text p-1 px-2"> <span class="pt-5">Atheneuam</span></h3>
                </div>
            </a>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li>Hi lite Mall Kozhikode, India</li>
                    <li>athenauem@gmail.com</li>
                    <li>+91 97782458923</li>

                </ul>
            </div>
            <div class="footer-col ">
                <h4>Information</h4>
                <ul>
                    <li><a href="/shop-page">Shop</a></li>
                    <li><a href="/category">Category</a></li>
                    <li><a href="/author">author</a></li>
                </ul>
            </div>
            <div class="footer-col ">
                <h4>My Account</h4>
                <ul>
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/cart">View Cart</a></li>
                    <li><a href="/wishlist">My Wishlist</a></li>
                </ul>
            </div>
            <div class="footer-col ">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <small>&copy; 2023 athenauem.Inc.All rights reserved</small>
        </div>
    </footer>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/shopPage.js"></script>
    <script src="/js/search.js"></script>


</body>

</html>